@font-face{
	font-family:"farka";
	src:url("./src/font/Far_KamrnBd.ttf") format("truetype");
}
body{
	background-color:#158AFF;
	font-family:farka;
}
h1{
	background-color:blue;
	color:red;
	padding:20px;
	text-decoration:underline;
}
p{
	font-size:32px;
	margin:20px;
	padding:20px;
}
.body{
	width:800px;
	height:800px;
	font-size:24px;
	border: 15px solid green;
	padding:auto;
	margin:auto;
	background-color:blue;
	text-align:justify;
	border-radius:10px;
}
.center{
	text-align:center;
	line-height:auto;
}
.line{
	line-height:50px;
	word-spacing:10px;
	text-shadow:1px 1px 2px red;
	margin: 20px;
}
footer{
	font-family:dana;
	background-color:#FFC81C;
	margin:20px;
	padding:10px;
	line-height:50px;
	color:red;
	width:auto;
	height:auto;
	border:2px dashed black;
	box-sizing:border-box;
}
uiuit