@font-face{
	font-family:"farka";
	src:url("./src/font/Far_KamrnBd.ttf") format("truetype");
}
:root{
	--bgcolor: #4E00E8;
}
::selection{
	background-color:#E7C5CC
}
body{
	background-color:#158AFF;
	font-family:farka;
}
.but{
	display: flex;
	gap: 30px;
}
.but1{
	width:calc(400px - 300px);
	height:min(80px , 300px, 90px);
	font-size: 20px;
	border-radius: 10px;
	background-color:#158AFF;
	transition: all 250ms ease-in 150ms ;
}
.but1:hover{
	transform: scale(0.5);
}
.but2{
	width: 100px;
	height: 80px;
	font-size: 20px;
	border-radius: 10px;
	background-color:#158AFF;
	transition: all 250ms ease-in 150ms ;
}
.but2:hover{
	transform: scale(0.5);
}
.but3{
	width: 100px;
	height: 80px;
	font-size: 20px;
	border-radius: 10px;
	background-color:#158AFF;
	transition: all 250ms ease-in 150ms ;
}
.but3:hover{
	transform: scale(0.5);
}
h1{
	background-color:#FB6DFC;
	color:#E82B2B;
	padding:30px;
	text-decoration:underline;
	border-radius:20px;
	margin:30px;
	transition: all 250ms ease-in 150ms ;
}
h1:hover{
	color:darkred;
	background-color: deeppink;
	transform: scale(0.8);
}
p{
	font-size:32px;
	margin:30px;
	padding:20px;
}
.opa{
	opacity: 0.9;
	display: flex;
	width: 1200px;
	height: 400px;
	gap: 30px;
	margin: 20px;
	padding: 20px;
}
.img1, .img2{
	width: 100%;
	background-color: #63F6FC;
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
	line-height: 180px;
	border-radius: 20px;
}
.img1:hover{
	margin-bottom: 30px;
	transform: rotate(30deg);
}
.img2:hover{
	margin-bottom: 30px;
	transform: skew(10deg);
}
.box1,.box2{
	width: 100%;
	background-color: #63F6FC;
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
	line-height: 180px;
	border-radius: 20px;
}
.box1:hover{
	margin-bottom: 30px;
	transform: translatex(10px);
}
.box2:hover{
	margin-bottom: 30px;
	transform: matrix(60px);
}
.main{
	width:800px;
	height:800px;
	font-size:24px;
	border: 15px solid #01E6E2;
	padding-top: 0px;
	margin:auto;
	margin-top: 20px;
	background-color:#19BBFF;
	text-align:justify;
	border-radius:10px;
	overflow: auto;
}
.info{
	color:white;
	text-align:center;
	line-height:auto;
	padding:10px;
}
.line{
	line-height:50px;
	word-spacing:10px;
	text-shadow:1px 1px 2px #E7C5CC;
	margin: 20px;
}
.bg{
	width: 400px;
	height: 400px;
	margin: 20px auto 0;
	background-image: linear-gradient(to right bottom, red ,blue);
	box-shadow: 2px 2px 14px #A8CEE8 inset;
}
.footer{
	font-family:dana;
	background-color: var(--bgcolor);
	margin:40px 10px 0px 10px;
	padding:10px;
	line-height:50px;
	color:red;
	width:auto;
	height:auto;
	border:2px dashed black;
	box-sizing:border-box;
}
.end-text{
	font-size: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a{
	color:black;
	font-size: 30px;
	padding: 30px;
	margin: 30px;
	display: block;
}
a:active{
	color:#158AFF;
	font-size: 24px;
}
a:visited{
	color:rgb(0, 0, 0);
	font-size: 30px;
}
ul{
	font-size: 30px;
	color:indianred;
	list-style-image:url("../img/icon.svg") ;
	list-style-position: inside;
/*	display: none; */
}
.check:checked + .alert{
	display: block;
}
.alert{
	display: none;
}
.alert{
	color: black;
	margin: 0px 20px;
	padding: 0px;
	font-size: 20px;
}
.check{
	width: 20px;
	height: 20px;
}
/*
.but1::before{
	content: "از سایت راضی هستید";
	font-size: 20px;
	padding: 20 px;
	margin: 20px;
	overflow: hidden;
}
*/
/*
[TYPE=TEXT]{

}
تمامی تگ هایی که اتریبیوت تکس دارند
*/
@media screen and (min-width: 998px){
	.check{
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width: 500px) {
	.opa{
		flex-wrap: wrap;
	}
}
.circle{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color:var(--bgcolor);
	margin: 30px auto;
	animation-name: circle-ani;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes circle-ani {
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}